/* Reset it ALL*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, 
head, article, nav, section, aside {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

input{
	display: none;
}

#intro,.container{
	width:500px;
	height:500px;
}

#intro{
	display: none;
	background-color: #000;
	position: absolute;
	opacity: .9;
	z-index: 1;
	color: #FFF;
}

.cover{
	height: 325px;
	width: 400px;
	margin: 50px 50px 0 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}

.nav div{
	background-color: #CBCBCB;
	margin: 0px;
	padding: 25px;
	float: left;
	line-height: 0;
	border-left:#ABABAB solid 1px
}

.nav input:checked + div{
	background-color: #ABABAB;
}

.nav{
	width: 100%;
	height: 50px;
	border-bottom: #000 solid 1px;
	background-color: #EFEFEF;
}

.question{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	padding:30px 20px;
}

.answers{
	height:239px;
}

.answers label{
	display:block;
	font-family: 'Open Sans', sans-serif;
	width:450px;
	margin-left: 50px;
	padding:10px 0px;
}

.radio{
	width:30px;
	height:30px;
	border-radius: 15px;
	background-color: #AAA;
	float:left;
	position: relative;
	margin-right: 10px;
}

.answers input:checked + label .radio{
	background-color: #777;
}

.nav input.right + div{
	background-color: #03C03C;
	border-color: #03C03C;
}

.answers.right .radio{
	background-color: #77DD77;
	border-color: #77DD77;
}

.answers.right input:checked + label .radio{
	background-color: #03C03C;
	border-color: #03C03C;
}

.nav input.wrong + div{
	background-color: #C23B22;
	border-color:  #C23B22;
}

.answers.wrong .radio{
	background-color: #FF6961;
	border-color:  #FF6961;
}

.answers.wrong input:checked + label .radio{
	background-color: #C23B22;
	border-color:  #C23B22;
}


#btn{
	text-align: center;
	height:24px;
	padding:13px 0;
	background-color: #CBCBCB;
	background-repeat: repeat-x;
	font-family: 'Open Sans', sans-serif;
}

#btn.ready,#btn.next,#btn.restart{
	cursor: pointer;
}

#btn.restart{
	margin-top: 325px;
}

.wrapper,#cheapDisable,#results{
	height: 325px;
	width: 500px;
	display:none;
}

#cheapDisable,#results{
	position: absolute;
	top: 51px;
}

.show{
	display: block !important;
}

@media (max-width: 1000px){
	.bar{
		height:60px;
		margin:0 auto;
		width:1000px;
		background-color: #1b1b1b;
		background-image: -moz-linear-gradient(top, #222222, #111111);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
		background-image: -webkit-linear-gradient(top, #222222, #111111);
		background-image: -o-linear-gradient(top, #222222, #111111);
		background-image: linear-gradient(to bottom, #222222, #111111);
		background-repeat: repeat-x;
		border-color: #252525;		
	}
	.sidebar{
		position: absolute;
	}
}