<article class="slideshow">
	<img name="slide" src="/goodies/images/index0.jpg" class="active">
	<img name="slide" src="/goodies/images/index1.jpg">
	<div class="radios">
		<input type="radio" name="slideshow" value="0" checked="true">
		<input type="radio" name="slideshow" value="1"><!--
		<input type="radio" name="slideshow" value="2">
		<input type="radio" name="slideshow" value="3">-->
	</div>
</article>
<article class="description">
	<h1 class="label">
		Advance Manufacturing Research Laboratory
	</h1>
</article>