<article class="description">
	<div class="mtype">
		<div class="mname"> Professors </div>
		<div class="m">
			<div class="mcircle">
				<i class="icon bullet">&#xe000;</i>
			</div>
			<font class="mperson">
				Dr. Joshua Tarbutton
			</font>
			<div class="mwords">
				<div class="mblock">
					<font class="mtitle">
						Interests:
					</font>
				</div>
				<div class="mblock">
					<font class="mtitle">
						Email:
					</font>
				</div>			
			</div>
		</div>
	</div>
	<div class="mtype">
		<div class="mname"> PhD </div>
		<div class="m">
			<div class="mcircle">
				<i class="icon bullet">&#xe001;</i>
			</div>
			<font class="mperson">
				Dr. Chabum Lee
			</font>
			<div class="mwords">
				<div class="mblock">
					<font class="mtitle">
						Interests:
					</font>
				</div>
				<div class="mblock">
					<font class="mtitle">
						Email:
					</font>
				</div>			
			</div>
		</div>
	</div>
	<div class="mtype">
		<div class="mname"> Postgraduate </div>
		<div class="m">
			<div class="mcircle">
				<i class="icon bullet">&#xe002;</i>
			</div>
			<font class="mperson">
				John Smith
			</font>
			<div class="mwords">
				<div class="mblock">
					<font class="mtitle">
						Interests:
					</font>
				</div>
				<div class="mblock">
					<font class="mtitle">
						Email:
					</font>
				</div>			
			</div>
		</div>
		<div class="m">
			<div class="mcircle">
				<i class="icon bullet">&#xe002;</i>
			</div>
			<font class="mperson">
				Mike Meyers
			</font>
			<div class="mwords">
				<div class="mblock">
					<font class="mtitle">
						Interests:
					</font>
				</div>
				<div class="mblock">
					<font class="mtitle">
						Email:
					</font>
				</div>			
			</div>
		</div>
	</div>
	<div class="mtype">
		<div class="mname"> Masters </div>
		<div class="m">
			<div class="mcircle">
				<i class="icon bullet">&#xe003;</i>
			</div>
			<font class="mperson">
				Adam Smith
			</font>
			<div class="mwords">
				<div class="mblock">
					<font class="mtitle">
						Interests:
					</font>
				</div>
				<div class="mblock">
					<font class="mtitle">
						Email:
					</font>
				</div>			
			</div>
		</div>
	</div>
	<div class="mtype">
		<div class="mname"> Undergraduate </div>
		<div class="m">
			<div class="mcircle">
				<i class="icon bullet">&#xe004;</i>
			</div>
			<font class="mperson">
				Dylan Madisetti
			</font>
			<div class="mwords">
				<div class="mblock">
					<font class="mtitle">
						Interests:
					</font>
				</div>
				<div class="mblock">
					<font class="mtitle">
						Email:
					</font>
				</div>			
			</div>
		</div>
	</div>
	<!--
  	Professors
  	<hr/>
  	Post-Docs
  	<hr/>
  	Graduate Students
  	<hr/>
  	Masters Students
  	<hr/>
	Undergraduate Students
	<hr/>-->
</article>
