<article class="description">
	<div class="mtype">
		<div class="mname"> Professor </div>
		<div class="m">
			<font class="mperson">
				Dr. Joshua Tarbutton
			</font>
			<div class="mwords">
				<div class="mblock">
					<font class="mtitle">
						Interest: Advanced Manufacturing, Tool Path Planning, Parallel Hardware Acceleration, Mechatronics, Control Systems, System Identification, Signal Processing
					</font>
				</div>
				<div class="mblock">
					<font class="mtitle">
						Email: jat@sc.edu
					</font>
				</div>			
			</div>
		</div>
	</div>
	<div class="mtype">
		<div class="mname"> Post-Doc </div>
		<div class="m">
			<font class="mperson">
				Dr. Chabum Lee
			</font>
			<div class="mwords">
				<div class="mblock">
					<font class="mtitle">
						Interest: Manufacturing, Metrology, Precision Machine Design, Optomechanics/Mechatronics
					</font>
				</div>
				<div class="mblock">
					<font class="mtitle">
						Email: chabum@mailbox.sc.edu
					</font>
				</div>			
			</div>
		</div>
	</div>
	<div class="mtype">
		<div class="mname"> Postgraduate </div>
		<div class="m">
			<font class="mperson">
				Mr. Chao Lu
			</font>
			<div class="mwords">
				<div class="mblock">
					<font class="mtitle">
						Interest: Signal Processing, Dynamics and Control
					</font>
				</div>
				<div class="mblock">
					<font class="mtitle">
						Email: lu43@email.sc.edu
					</font>
				</div>			
			</div>
		</div>
		<div class="m">
			<font class="mperson">
				Mr. Andrey Balabokhin
			</font>
			<div class="mwords">
				<div class="mblock">
					<font class="mtitle">
						Interest: GPU programming, Automation, 3D-printing
					</font>
				</div>
				<div class="mblock">
					<font class="mtitle">
						Email: abalabokhin@gmail.com
					</font>
				</div>			
			</div>
		</div>
		<div class="m">
			<font class="mperson">
				Mr. Omid Yousefian
			</font>
			<div class="mwords">
				<div class="mblock">
					<font class="mtitle">
						Interest: Automated Tool Path Planning/Optimization 
					</font>
				</div>
				<div class="mblock">
					<font class="mtitle">
						Email: omid@email.sc.edu
					</font>
				</div>			
			</div>
		</div>
		<div class="m">
			<font class="mperson">
				Mr. Taylor Corbett
			</font>
			<div class="mwords">
				<div class="mblock">
					<font class="mtitle">
						Interest: Advanced Manufacturing, Design, 3D Printing 
					</font>
				</div>
				<div class="mblock">
					<font class="mtitle">
						Email: corbett3@email.sc.edu
					</font>
				</div>			
			</div>
		</div>
	</div>
	<!--
	<div class="mtype">
		<div class="mname"> Masters </div>
		<div class="m">
			<font class="mperson">
				Adam Smith
			</font>
			<div class="mwords">
				<div class="mblock">
					<font class="mtitle">
						Interest:
					</font>
				</div>
				<div class="mblock">
					<font class="mtitle">
						Email:
					</font>
				</div>			
			</div>
		</div>
	</div>
	-->
	<div class="mtype">
		<div class="mname"> Undergraduate </div>
		<div class="m">
			<font class="mperson">
				Dylan Madisetti
			</font>
			<div class="mwords">
				<div class="mblock">
					<font class="mtitle">
						Interest: Webdesign
					</font>
				</div>
				<div class="mblock">
					<font class="mtitle">
						Email:
					</font>
				</div>			
			</div>
		</div>
	</div>
	<!--
  	Professors
  	<hr/>
  	Post-Docs
  	<hr/>
  	Graduate Students
  	<hr/>
  	Masters Students
  	<hr/>
	Undergraduate Students
	<hr/>-->
</article>
