<section class = "news">
	<div class="piece"> 
		<h3>Publication</h3>

		<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a erat dapibus mauris hendrerit euismod ut eget lacus.</p>

	</div>


	<div class="piece"> 
		<h3>Publication</h3>

		<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a erat dapibus mauris hendrerit euismod ut eget lacus.</p>

	</div>

	<div class="piece"> 
		<h3>Publication</h3>

		<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a erat dapibus mauris hendrerit euismod ut eget lacus.</p>

	</div>

	<div class="piece"> 
		<h3>Publication</h3>

		<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut a erat dapibus mauris hendrerit euismod ut eget lacus.</p>

	</div>
</section>
