<article class="sidebar">
	<div class="topic">Wavelet analysis of periodic error for improved displacement metrology</div>
	<div class="topic">Additive Manufacturing for Precision End-Use Functional Parts</div>
	<div class="topic">3D printable ultralow cost sensors and actuators</div>
	<div class="topic">Automated toolpath planning for multi-axis machining</div>
</article>
<article class="description sidepart">
	<h1 class="label">
		Wavelet analysis of periodic error for improved displacement metrology
	</h1>
	Displacement interferometer is a critical metrology capability for applications requiring nanometer positioning accuracy. One inherent accuracy limitation is the periodic error, caused by frequency mixing in systems with two frequencies. This error is typically quantified using a Fourier transform-based analysis of constant velocity motions. In practice, however, non-constant velocity profiles lead to non-stationary signal requiring alternate analysis techniques for real-time compensation. In this project, we will gain new fundamental insight into periodic error and its compensation by applying wavelet analysis techniques to characterize the non-stationary, time-varying error caused by frequency mixing.
	<hr/>
	<img src="goodies/images/r1.jpg"/><img src="goodies/images/r2.jpg"/>
</article>
