<!DOCTYPE html>
<html>
	<head>
		<title>Questionaire</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/goodies/the.css" />
		<script>
			var answers = [{{#questions}}{{answer}},{{/questions}}0];
		</script>
		<script src="goodies/the.js"></script>
	</head>
	<body>
		{{#speech}}
			<audio id="speech" preload="auto">
				<source src="/goodies/audio/{{speech}}.ogg" type="audio/ogg">
				<source src="/goodies/audio/{{speech}}.mp3" type="audio/mpeg">
				<source src="/goodies/audio/{{speech}}.wav" type="audio/wav">
				Your browser does not support the audio tag.
			</audio>
		{{/speech}}
		<div id="intro" class="show">
			<div class="cover">
				{{intro}}
			</div>
		</div>
		<div class="container">
			<header class="nav">
				{{f.reset}}
				{{#questions}}
					<input type="radio" name="q" value="{{f.count}}" id="q{{f.count}}" {{#f.first}}checked{{/f.first}}>
					<div>{{f.count}}</div>
					{{f.next}}
				{{/questions}}
			</header>
			{{#speech}}
				<div id="replay">Click to Replay. Time Remaining
					<div id="timer">
						1:00
					</div>
				</div>
			{{/speech}}
			{{f.reset}}
			{{#questions}}
				{{f.resetq}}
				<div class="wrapper {{#f.first}}show{{/f.first}}">
					<div class="question">
						{{question}}
					</div>
					<div class="answers {{#audio}}audio{{/audio}}">
						{{#answers}}
						<input type="radio" name="a{{f.count}}" value="{{f.countq}}" id="a{{f.count}}{{f.countq}}">
						<div class="label" data-for="a{{f.count}}{{f.countq}}"><div class="radio">
						</div>
						{{^audio}}
							{{.}}
						{{/audio}}
						{{#audio}}
							<img src="/goodies/play.png" alt="play">
							<audio  preload="auto">
								<source src="/goodies/audio/{{.}}.mp3" type="audio/mpeg">
								<source src="/goodies/audio/{{.}}.ogg" type="audio/ogg">
								<source src="/goodies/audio/{{.}}.wav" type="audio/wav">
							</audio>
						{{/audio}}
						</div>
						{{f.nextq}}
						{{/answers}}
					</div>
				</div>
				{{f.next}}
			{{/questions}}
			<div id="cheapDisable"></div>
			<div id="results" class="wrapper">
				<div class="question">
				</div>
			</div>
			<footer id="btn">
				Choose
			</footer>
		</div>
	</body>
</html>